@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

.A{
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0px solid black;
	background-image: url(IMG_0471.gif);
	background-size: 100%;
	opacity: 0.88;
	background-repeat: no-repeat;
	z-index: 1;
}

.B{
	position: absolute;
	width: 800px;
	height: 1200px;
	border: 0px solid black;
}

.col-md-1{
	font-size: 100px;
}

.col-md-2{
	font-size: 100px;
	
}

.col-md-4{
	font-size: 16px;
	color: #FFFFFF;
	font-family:"造字工房悦黑（非商用）常规体";
	width: 100%;
	height: 100%;
	color: #FFFFFF;
}

.C{
	border: 0px solid black;
	height: 130px;
}

.D{
	border: 0px solid black;
	height: 300px;
}

.E{
	font-size: 36px;
}

.F{
	margin-top: 0;
	padding-left: 0;
}

.container-fluid div{
	border: 0px solid black;
}

.G{
	/*text-align: center;*/
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 180px;
}

.H{
	position: absolute;
	z-index: 2;
	margin-left: 0px;
	margin-top: 100px;
}

.ZT{
	color: #FFFFFF;
	font-family: "造字工房悦黑（非商用）常规体";
	white-space: nowrap;
	text-align: right;
}

.button{
	text-align:right;
}

.TT{
	color: #FFFFFF;
	font-family: "造字工房悦黑（非商用）常规体";
	text-align: left;
	font-size: 16px;
}